@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #858585;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* ANIMASI DENYUT KUSTOM (RIPPLE EFFECT) */
  @keyframes neon-ripple {
    0% {
      transform: scale(0.8);
      opacity: 0.8;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: scale(2.4); /* Skala pembesaran riak */
      opacity: 0;
    }
  }

  .animate-neon-ripple {
    animation: neon-ripple 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
}

.react-flow__node {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}